[Desktop Entry]
Type=Application
Name=Amoebax
Exec=amoebax
Icon=amoebax
Comment=Defeat your opponent by filling their grid up with garbage.
Categories=Game;LogicGame;
GenericName=Computer Puzzle Game
GenericName[tr]=Bulmaca Oyunu
Terminal=false
